<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>

    <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with login">
        <mat-icon>login</mat-icon>
        Sign in
    </a>
    <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with register">
        <mat-icon><span class="material-symbols-outlined">
                app_registration
            </span></mat-icon>
        Register
    </a>
    <a *ngIf="isLoggedIn && user" routerLink="/admin/profile" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with register">
        <mat-icon><span class="material-symbols-outlined ">
                account_circle
            </span></mat-icon>
        {{user.username}}
    </a>
    <a (click)="logout()" *ngIf="isLoggedIn" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with register">
        <mat-icon><span class="material-symbols-outlined">
                app_registration
            </span></mat-icon>
        Logout
    </a>
</mat-toolbar>