<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!-- instructions -->
               <mat-card style="margin-top:70px;">
                <mat-card-content>
                    <h3 >Instructions</h3>
                    <ul>
                        <li>Instruction 1</li>
                        <li>Instruction 2</li>
                        <li>Instruction 3</li>
                    </ul>
                </mat-card-content>
               </mat-card>
            </div>
            <div class="col-md-8">
                <!-- questions -->
                <ng-container *ngIf="questions">
                    <h1 class="mt-20">
                        On going <b>{{questions[0]?.quiz?.title}}</b>
                    </h1>

                </ng-container>
                <mat-card *ngFor="let q of questions; let i=index" class="mt-20">
                    <mat-card-content>
                        <p>
                            <b>Q.{{i+1}})</b>
                            <span class="ml-10" [innerHTML]="q.content"></span>
                        </p>


                        <div class="row mt-10">
                            <div class="col-md-6">
                                <input type="radio" [(ngModel)]="q.givenAns" name="{{i}}"
                                    [value]="q.option1" />{{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [(ngModel)]="q.givenAns" name="{{i}}"
                                    [value]="q.option2" />{{q.option2}}
                            </div>
                        </div>
                        <div class="row mt-10">
                            <div class="col-md-6">
                                <input type="radio" [(ngModel)]="q.givenAns" name="{{i}}"
                                    [value]="q.option3" />{{q.option3}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [(ngModel)]="q.givenAns" name="{{i}}"
                                    [value]="q.option4" />{{q.option4}}
                            </div>
                        </div>
                    </mat-card-content>

                </mat-card>
                <div class="container text-center mt-10 mb-10">
                    <button mat-raised-button color="warn" (click)="submitQuiz()">Submit Quiz</button>
                </div>
            </div>
            <div class="col-md-2">
                <!-- progress -->
                <mat-card style="margin-top:70px;">

                    <mat-card-header>
                        <mat-card-title>Progress</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <h1 class="text-center">{{getFormattesTime()}}</h1>
                        <mat-spinner mode="determinate" [value]="(timer/(this.questions?.length * 2 * 60))*100"
                            color="primary" style="margin: auto;"></mat-spinner>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- Show Result -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row mt-20">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Result</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Total Achieved: {{marksGot}}</h1>
                    <h1>Correct Answer: {{correctAns}}</h1>
                    <h1>Question Attempted: {{attempted}}</h1>
                </mat-card-content>
                <mat-card-actions>
                    <div class="container text-center">
                        <button (click)="printPage()" mat-raised-button color="primary" class="mr-20">Print</button>
                        <button mat-raised-button color="primary" [routerLink]="'/user-dashboard/0'">Home</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>