<mat-card class="sidebar">
    <mat-action-list>
        <div mat-subheader>Avaiable Categories</div>
        <button routerLink="/user-dashboard/0" mat-list-item>
            <mat-icon  matListItemIcon>quiz</mat-icon>All Quizzes
        </button>
        <button [routerLink]="'/user-dashboard/' + c.cid" mat-list-item *ngFor="let c of categories s">
            <mat-icon matListItemIcon>quiz</mat-icon>{{c.title}}
        </button>
        
    </mat-action-list>
</mat-card>
<!-- {{categories | json}} -->