<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="padding-10">
                    <div class="container text-center logo">
                        <img src="../../../assets/logo.png" alt="">
                    </div>
                    <h1 class="text-center">Login here!!</h1>

                 <!-- {{loginData | json}} -->

                    <form action="" (ngSubmit)="formSubmit()">
                        <!-- user name field  -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input 
                            [(ngModel)]="loginData.username" 
                            name="username" required type="text" 
                            matInput placeholder="Enter here">

                            <mat-hint>Enter valid username.</mat-hint>
                        </mat-form-field>

                        <!--  password field  -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Password</mat-label>
                            <input [(ngModel)]="loginData.password" 
                            name="password" required type="password" matInput placeholder="Enter here">
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Sign In</button>
                            <button type="reset" mat-raised-button class="ml-10" color="accent">Reset</button>
                        </div>

                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>